body{
  font-family:Verdana;
  display:incline-block;
   background: #FFFFF0;
}
h1 {
	text-align: center;
}
div{
  display:incline-block;
}
#top{
  width:100%;
  height:20%;
  color:#FFB6C1
  position:relative;
}
#top p{
  font-size:30px;
  position:relative;
  font-family:Microsoft YaHei;
  background-color:#FFB6C1;
  margin-left:2%;
  
}
table{
  border=5px; 
  width:80%;
  height:88%;
  margin:auto;
  text-align:center;
  
}
th{
  font-size:30px;
  font-family:Arial;
}
